<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Hi, {{user.firstname}}</ion-title>
    <ion-button (click)="exitButton()">
        <ion-icon name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <img src="https://www.accenture.com/cz-en/_acnmedia/Accenture/next-gen-4/utilities/index/img/Accenture-Hero-Lockup.png" />
      <ion-card-header>
        <ion-card-subtitle>Accenture Bank</ion-card-subtitle>
        <ion-card-title>Get your Credit with us</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ex aperiam eveniet voluptatem. Obcaecati, fugiat.
      </ion-card-content>
    </ion-card>
    <ion-button color="primary">Get Credit</ion-button>
</ion-content>
